.ball {
    width: 50px;
    height: 50px;
    background-color: rebeccapurple;
    border-radius: 50%;
    position: absolute;
}

#submitButton {
    // background: #00b22d;
    position: relative;
    border-radius: 7px;
    border-color: #4b48cb;
    outline: none;

    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 30px;
    margin: 30px;
    transition: all 0.3s ease;
    // background-color: white;
    background-color: white;
    color: #716eef;
    width: 120px;

    .upload {
        position: absolute;
        display: inline-block;
        transition: width 0.3s ease, background 0.3s ease;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #716eef;
        border-radius: 5px;
      }

      .upload-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: auto;
        text-align: center;
        line-height: 39px;
        color: white;
      }
  }
  
  #submitButton.loading {
    background: #ddd;
    color: transparent;
  }
  
  #submitButton.loading:after {
    animation: spinAround 500ms infinite linear;
    border: 3px solid #777;
    border-radius: 50%;
    border-right-color: transparent;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    position: relative;
    top: 3px;
    left: calc(50% - 8px);
  }
  
  @keyframes spinAround {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }