#submitButton {
  position: relative;
  border-radius: 7px;
  border-color: #4b48cb;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 20px 30px;
  margin: 30px;
  background-color: white;
  color: #716eef;
  width: 120px;
  .checkmark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #716eef;
    animation: draw-check-border 0.35s ease-in-out 0.35s forwards;

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      top: 4px;
      left: 7px;
      transform: rotate(45deg);
      opacity: 0;
      animation: draw-check 0.3s ease-in-out 0.3s forwards;
    }
  }

  @keyframes draw-check-border {
    0% {
      border: none;
    }
    100% {
      border: 2px solid white;
    }
  }
  @keyframes draw-check {
    0% {
      opacity: 0;
      transform: rotate(45deg) scale(0);
    }
    100% {
      opacity: 1;
      transform: rotate(45deg) scale(1);
    }
  }

  .spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.7); /* Light border */
    border-top: 3px solid #716eef; /* Darker border for the spinner effect */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .upload {
    position: absolute;
    display: inline-block;
    transition: width 0.3s ease, background 0.3s ease;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    background-color: #716eef;
    border-radius: 5px;
  }

  .upload-text {
    position: absolute;
    display: inline-block;
    transition: width 0.3s ease, background 0.3s ease;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 116px;
    line-height: 40px;
    border-radius: 5px;
  }
}

#submitButton.loading {
  background: #ddd;
  color: transparent;
}

#submitButton.loading:after {
  animation: spinAround 500ms infinite linear;
  border: 3px solid #777;
  border-radius: 50%;
  border-right-color: transparent;
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
  top: 3px;
  left: calc(50% - 8px);
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
