/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    margin: 20px;
}