<button (click)="sendMessage()">SEND</button>
<input class="new-message" type="text" (input)="handleTypeMessage($event)" />

@if(isTyping) {
    <div class="typing">Typing...</div>
}
@if (messages.length > 0) {
    <div class="chat-container">
        @for (chatMessage of messages; track chatMessage.id) {
            <div class="message" [ngClass]="{
                'sent': isSender(chatMessage.clientId),
                'received': !isSender(chatMessage.clientId),
            }">
                <p>{{ chatMessage.message }}</p>
                <span class="time">{{ chatMessage.timestamp | date:'shortTime' }}</span>
            </div>
        }
    </div>
}
