.chat-header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #684CE3;
    color: white;
    padding: 20px;
    z-index: -1;

    h1 {
        margin: 0;
    }
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 90vh;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-top: 105px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
}

.new-message-container {
    position: fixed;
    bottom: 0;
}

.new-message-input { 
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;
    border: none;
    background-color: #fbfbfb;
    border-radius: 20px;
    outline: none;
    transition: box-shadow 0.3s ease; 
    width: calc(100vw - 60px);
}

.new-message-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 40px;
    width: 40px;
    background-color: #684CE3;
    color: white;
  }

.message {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 3px;
    padding: 5px 15px;
    border-radius: 1.5rem;
    line-height: 1.5;
    font-size: 20px;
    border: 1px solid #ddd;

    p {
        margin: 0;
    }
}

.sent {
    align-self: flex-end;
    background-color: #567AF3;
    color: white;
    background: linear-gradient(45deg, #5D3DF5 0%, #9810F4 100%);

    .time {
        position: absolute;
        bottom: -23px;
        right: 0;
        text-align: right;
        color: #8a8a8a;
        font-size: 14px;
    }
}

.received {
    align-self: flex-start;
    background-color: #F6F8FD;
    color: black;

    .time {
        position: absolute;
        bottom: -23px;
        left: 0;
        color: #8a8a8a;
        font-size: 14px;
    }
}