@if (errorMessage) {
    <p>{{ errorMessage }}</p>
} @else {
    <div class="audio-player-container">
        @if (currentTrack) {
            <img [src]="currentTrack.cover" />
            <h3 class="title">{{ currentTrack.title }}</h3>
            <p class="artist">{{ currentTrack.artist }}</p>
        }
        <div class="audio-player-time">
            <p>{{ currentTime | time }}</p>
            <audio #audio>
                Your browser does not support the audio element.
            </audio>
            <input type="range" class="song" [value]="currentTime" min="0" [max]="duration" (input)="skip($event)"  />
            <p>{{ duration | time }}</p>    
        </div>
        <div class="audio-controls">
            <button class="skip-btn" (click)="skipPrevious()">
                <mat-icon>skip_previous</mat-icon>
            </button>
            <button mat-fab class="play-pause-btn" (click)="playPause()">
                @if (isPlaying) {
                    <mat-icon>pause</mat-icon>
                } @else {
                    <mat-icon>play_arrow</mat-icon>
                }
            </button>
            <button class="skip-btn" (click)="skipNext()">
                <mat-icon>skip_next</mat-icon>
            </button>
        </div>
        <div class="volume">
            @if (volume === 0) {
                <mat-icon>volume_off</mat-icon>
            } @else {
                <mat-icon>volume_up</mat-icon>
            }
            <input type="range" [value]="volume" min="0" max="1" step="0.01" (input)="changeVolume($event)"  />
        </div>
    </div>
}