.pro-img-container {
    position: relative;
}

.pro-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    width: 500px;
    height: 500px;
}

.progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: #667de7;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }