.player {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.game {
  display: flex;
  justify-content: center;
}

.turn {
  position: absolute;
  left: 100px;
  margin-right: 40px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.player-turn {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
  width: 150px;
  justify-content: flex-end;

  .icon {
    border-radius: 50%;
    padding: 5px;
    animation: pulse 1.5s infinite;
    color: #ffb300;
    background-color: #fcede0;

    &.x {
      color: #7b00ff;
      background-color: #f0f0f0;
    }
  }

  p {
    margin: 0;
  }
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 300px;
    height: 300px;
    border: 1px solid #000;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #9d9d9d;
    font-size: 3em;
    transition: background-color 0.3s ease;
    color: #ffb300;

    &.player-x {
      color: #7b00ff;
    }

    &:hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }
  }

.player-x-winner {
  color: #7b00ff;
  background-color: #f0f0f0;
  border-radius: 10%;
  padding: 10px;
}

.player-o-winner {
  color: #ffb300;
  background-color: #fcede0;
  border-radius: 10%;
  padding: 10px;
}