.chat-header {
    display: flex;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #684CE3;
    color: white;
    padding: 20px;
    z-index: -1;

    h2 {
        margin: 0;
    }

    .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .online {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #2ED47A;
        border-radius: 50%;
        margin-left: 3px;
    }

    .offline {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #F44336;
        border-radius: 50%;
        margin-left: 3px;
    }
}

.chat-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 90vh;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-top: 90px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
}

.new-message-container {
    position: fixed;
    bottom: 0;
}

.new-message-input { 
    padding: 15px 20px;
    margin: 20px 10px;
    font-size: 20px;
    border: 1px solid #ddd;
    background-color: #fbfbfb;
    border-radius: 25px;
    outline: none;
    transition: box-shadow 0.3s ease; 
    width: calc(100vw - 60px);
    box-shadow: 0 4px 8px rgba(104, 76, 227, 0.3); /* Updated box shadow */
  }

.new-message-btn {
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 35px;
    width: 35px;
    background-color: #684CE3;
    color: white;
  }

.new-voice-message-btn {
    position: absolute;
    right: 65px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 35px;
    width: 35px;
    background-color: #684CE3;
    color: white;
  }

.message {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 3px;
    padding: 10px 15px;
    border-radius: 1.5rem;
    line-height: 1.5;
    font-size: 16px;
    border: 1px solid #ddd;

    p {
        margin: 0;
    }
}

.sent {
    align-self: flex-end;
    background-color: #567AF3;
    color: white;
    background: linear-gradient(45deg, #5D3DF5 0%, #9810F4 100%);

    .time {
        position: absolute;
        bottom: -23px;
        right: 0;
        text-align: right;
        color: #8a8a8a;
        font-size: 14px;
    }
}

.received {
    align-self: flex-start;
    background-color: #F6F8FD;
    color: black;

    .time {
        position: absolute;
        bottom: -23px;
        left: 0;
        color: #8a8a8a;
        font-size: 14px;
    }
}

.typing {
    align-self: flex-start;
    background-color: #F6F8FD;
    font-style: italic;
    font-size: 14px;
    padding: 15px 20px;
    margin: 25px 0;
    font-size: 20px;
    border: 1px solid #ddd;
    background-color: #fbfbfb;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
  
  .typing .dot {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #5D3DF5;
    animation: blink 1.4s infinite both;
    border-radius: 20px;

  }
  
  .typing .dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .typing .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .typing .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes blink {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  .audio-message {
    // width: 300px;
    // height: 40px;
    border-radius: 25px;
    outline: none;

    &::-webkit-media-controls-volume-slider,
    &::-webkit-media-controls-mute-button {
      display: none;
    }

    &::-webkit-media-controls-volume-control-container {
      display: none !important;
    }

    &.sent {
      background-color: #032592;
      color: white;
  
      &::-webkit-media-controls-panel {
        background: linear-gradient(45deg, #5D3DF5 0%, #9810F4 100%);
        border-radius: 5px;
      }
  
      &::-webkit-media-controls-play-button,
      &::-webkit-media-controls-pause-button{
        filter: invert(100%);
      }
  
      &::-webkit-media-controls-current-time-display,
      &::-webkit-media-controls-time-remaining-display {
        color: white;
      }
    }

  
    &.received {
      background-color: #f1f1f1;
      color: black;
  
      &::-webkit-media-controls-panel {
        background: linear-gradient(45deg, #f1f1f1 0%, #e0e0e0 100%);
        border-radius: 5px;
      }
  
      &::-webkit-media-controls-play-button,
      &::-webkit-media-controls-pause-button,
      &::-webkit-media-controls-mute-button,
      &::-webkit-media-controls-volume-slider {
        filter: invert(0%);
      }
  
      &::-webkit-media-controls-current-time-display,
      &::-webkit-media-controls-time-remaining-display {
        color: black;
      }
    }
  }